:root{
    --color1a: white;
    --color1b: rgb(240, 239, 239);
    --color1c: rgb(235, 224, 224);    
    --color1d: rgb(58, 58, 58);
}

.Title h1{
    width: 75%;
    margin-left:auto;
    text-align: right;
}
.Title h2{
    width: 75%;
    margin-left:auto;
    text-align: right;
}
.Title p{
    width: 75%;
    margin-right:auto;
    text-align:left;
    padding-left: 50px;
}

body{
    
    font-family:'Helvetica';
    color: black;
}
a{
    color:black;
    text-decoration-line: none;
}

img{
    width: 100%;
}

.Container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.Title{
    padding-top: 150px;
    padding-bottom: 0px;
    text-align: center;
    font-size:xx-large;
}
.Subtitle{
    padding-top: 50px;
    text-align: center;
    font-size: x-large;
}
.Half{
    width: 40%;
}
.Left{
    width: 45%;
    float:left;
}
.Right{
    width: 45%;
    float:right;
}
.Navigation{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--color1a);
    box-shadow: 0px 5px 20px black;
    padding-left: 50px;
}
.Item{
    
    padding: 20px 20px 10px 20px;
    margin-right: 0px;
    width: auto;
    height: 50px;
    text-align:left;
    font-size:xx-large;
    transition-duration: 250ms;
}
.Item:hover {
    background-color: var(--color1c);
}

.Break{
    margin-top: 50px;
    margin-bottom: 50px;
}

.Project{
    margin: auto;
    overflow: hidden;
    min-width: 400px;
    width: 75%;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 200px;
    background-color: var(--color1b);
    box-shadow: 0px 0px 10px var(--color1c);
}

.Project h1{
    text-align:left;
}
.Project h2{
    text-align:left;
}

.Row{
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: auto;
}

.Date{
    width: 30%;
}

.Honours{
    margin: auto;
    width: 80%;
}
.link-img{
    max-width: 100px;
    padding: 10px;
}
.Project a p{
    text-decoration: underline;
}

.OutLink{
    width:fit-content;
    height: auto;
    border-radius: 5px;
    text-align: left;
}
.OutLink:hover{
    background-color:var(--color1c);
}